@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: 'Montserrat', sans-serif;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
#root, #__next {
  isolation: isolate;
}

/* NAVBAR */
.closed {
  display: none;
}

header {
  position: sticky;
  top: 0;
  min-height: 8vh;
  background-color: #e9c46a;
  z-index: 15;
}

nav ul.open {
  background-color: #fff;
  padding: 0;
  position: absolute;
  width: 90%;
  margin: 0 auto;
  left: 0;
  right: 0;
  border: 1px solid black;
  border-radius: 5px;
}

.menu {
  display: flex;
  justify-content: space-between;
}

.menu-button {
  background-color: #e9c46a;
  border: none;
  font-size: 2rem;
}

nav li {
  padding: 0;
  text-align: center;
  list-style: none;
}

/* Main */

.title {
  text-align: center;
  margin: 1em 0;
}

.orange-text {
  color: #e76f51;
}

.container {
  width: 90%;
  margin: 0 auto;
  padding: 1em;
}

.home-section {
  height: 70vh;
  background-image: url("./images/pexels-brady-knoll-3221163.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  color: black;
  z-index: 1;
}

.home-text {
  color: white;
}

.home-btn-container {
  display: flex;
  gap: 1em;
  margin-top: 1em;
}

.home-btn {
  border: 1px solid #f4a261;
  background-color: unset;
  border-radius: 7px;
  padding: 0.5em 1.2em;
  color: white;
}

.home-btn:hover {
  background-color: #f4a261;
}

/* INVENTORY */
.inventory-btn-container {
  display: flex;
  gap: 1em;
}

.inventory-btn {
  border: 1px solid #e76f51;
  border-radius: 10px;
  padding: 0.25em 0.5em;
  color: #e76f51;
  background-color: unset;
  margin-bottom: 1em;
}

.inventory-btn:hover {
  scale: 1.1;
}

.cars-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1em;
  grid-auto-rows: 1fr
}

.car-card {
  text-align: center;
}

.image-container {
  position: relative;
  display: flex;
  flex: 1 1 auto;
}

.image-container span {
  padding-top: 80%;
}

.image-container img {
  object-fit: contain;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.car-card-btn {
  border: none;
  color: #fff;
  background-color: #e76f51;
  padding: 0.5em 1em;
  border-radius: 10px;
  margin-top: 1em;
}

/* WHY US */
.why-container {
  display: flex;
}

.why-container img {
  display: none;
}

.why-list {
  margin-top: 1em;
  display: flex;
}

.why-list ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  padding: 0;
}

/* ABOUT */
.our-container {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}


/* AUTH */
.form-body {
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 4em 0;
  background-color: #fff;
}

.form-title {
  font-size: 2rem;
  font-weight: 700;
  display: block;
  text-align: center;
}

.input {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4em;
}

.form-inputs {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.input input {
  padding: 0.5em;
  border: 1px solid black;
  outline: none;
  border-radius: 5px;
}

.form-btn-container {
  display: flex;
  margin-top: 1em;
  justify-content: center;

}

.form-btn-container button {
  border: none;
  background-color: unset;
  font-weight: 700;
}

.form-close-btn {
  background: none;
  font-size: 32px;
  cursor: pointer;
  border: none;
}




