@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: 'Montserrat', sans-serif;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
#root, #__next {
  isolation: isolate;
}

/* NAVBAR */
.closed {
  display: none;
}

header {
  position: sticky;
  top: 0;
  min-height: 8vh;
  background-color: #e9c46a;
}

nav ul.open {
  background-color: #e9c46a;
  padding: 0;
  position: absolute;
  width: 90%;
  margin: 0 auto;
  left: 0;
  right: 0;
  border: 1px solid black;
  border-radius: 5px;
}

.menu {
  display: flex;
  justify-content: space-between;
}

.menu-button {
  background-color: #e9c46a;
  border: none;
  font-size: 2rem;
}

nav li {
  padding: 0;
  text-align: center;
  list-style: none;
}

/* Main */
.container {
  width: 90%;
  margin: 0 auto;
  padding: 1em;
}

.home-section {
  min-height: 92vh;
  background-image: url("./images/pexels-brady-knoll-3221163.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: black;
  z-index: 1;
}

.home-text {
  color: white;
}

.home-btn-container {
  display: flex;
  gap: 1em;
  margin-top: 1em;
}

.home-btn {
  border: 1px solid #f4a261;
  background-color: unset;
  border-radius: 7px;
  padding: 0.5em 1.2em;
  color: white;
}

.home-btn:hover {
  background-color: #f4a261;
}


