@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  background-color: #141414;
  font-family: "Roboto", "Helvetica Neue" , Helvetica, Roboto, Arial, sans-serif;
  color: #FFF;
  height: 100vh;
  -webkit-font-smoothing: antialiased;
}

h1 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: unset;
  color: unset;
}

.media-hero-container {
  display: flex;
  flex-direction: column;
  gap: 0.6em;
  height: 25rem;
  background-color: #000;
  padding-bottom: 1em;
}


.img-container {
  position: relative;
  display: flex;
  flex: 1 1 auto;
  height: 0;
}

.hero-poster {
  display: block;
  object-fit: cover;
  width: 100%;
}

.img-container::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: -0.1%;
  display: block;
  content: "";
  background-image: linear-gradient(0deg,#000 0,rgba(0,0,0,.1) 50%,rgba(0,0,0,.1));
}


.hero-info {
  padding-right: 0.8em;
  padding-bottom: 0.2em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.hero-info, 
.media-section {
  padding-left: 1.5em;
}

.hero-info h1 {
  font-size: 1.75rem;
}

.hero-info h1,
.hero-reviews,
.slider-title {
  font-weight: 400;
}


.hero-rating {
  display: flex;
  gap: 0.1em;
  align-items: center;
  margin-bottom: 0.5em;
}

.hero-reviews,
.hero-media-info {
  font-size: 0.9rem;
  opacity: 0.5;
}

.hero-reviews {
  margin-left: 0.4em;
  align-self: center;
}

.hero-media-info {
  display: flex;
  gap: 0.4em;
}

.hero-media-overview {
  display: none;
}

.media-section {
  padding-top: 1em;
  background-color: #141414;
}

.slider-title {
  font-size: 1.2rem;
}

.slider-title:not(:first-child) {
  margin-top: 1.5em;
}

.slider-item {
  width: 100%;
  object-fit: cover;
  border: 3px solid #202124;
}

.slider-item-info {
  display: none;
}

footer {
  padding-bottom: 3.5rem;
  padding-left: 1.5rem;
  margin-top: 3em;
  background-color: #141414;
  display: flex;
  flex-direction: column;
  font-size: 0.87rem;
  color: #80868b;
  gap: 0.4em;
}

footer a {
  margin-top: 0.4em;
  text-decoration: underline;
}

.personal-links {
  display: flex;
  gap: 0.5em;
}

.personal-links a {
  border-bottom: 1px solid gray;
}

@media (min-width: 640px) {
  
  .media-hero-container {
    height: 30rem;
  }

  .hero-container {
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: baseline;
  }

  .hero-media-info {
    margin-bottom: 0.5em;
  }

  .slider-item-info {
    display: block;
    font-size: 0.875rem;
  }

  .slider-item-title {
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin: 0.3em 0;
  }

  .slider-item-review {
    font-size: 0.75rem;
   
  }

  .slider-item-reviews-vote {
    opacity: 0.4;
  }

}

@media (min-width: 768px) {
  .media-hero-container {
    height: 37rem;
  }
  
  .hero-container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .hero-info {
    padding-right: 3em;
    text-shadow: 1px 1px 0px #000;
  }

  .hero-info, 
  .media-section {
    padding-left: 2em;
    text-align: justify;
  }

  .hero-media-overview {
    display: -webkit-box;
    font-size: 0.9rem;
    line-height: 1.5;
    margin: 0 ;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@media (min-width: 1024px) {
  .media-hero-container {
    position: relative;
    height: 0;
    padding-bottom: 40%;
  }

  .hero-info {
    top: 20%;
    position: absolute;
    width: 55%;
    padding-right: 0;
  }

  .hero-media-overview {
    font-size: 1.1rem;
    text-align: justify; 
  }

  .img-container {
    top: 0;
    right: 0;
    width: 71.1%;
    height: 100%;
    display: block;
    position: absolute;
  }

  .hero-poster {
    height: 100%;
  }

  .img-container::after {
    background-image: linear-gradient(90deg,#000 0,transparent 50%,transparent);
  }
}

@media (min-width: 1200px) {
  .section-container {
    padding-left: 6rem;
  }
  
  .hero-info {
    width: 45%;
  }

  .hero-info h1 {
    font-size: 2.5vw;
  }

  .slider-title {
    font-size: 1.5rem;
  }

  .slider-item-title {
    font-size: 0.975rem;
  }

  .slider-item-review {
    font-size: 0.9rem;
  }

  footer {
    padding-top: 4em;
    padding-left: 0;
    align-items: center;
  }
}
