@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  background-color: #000;
  font-family: "Roboto", "Helvetica Neue" , Helvetica, Roboto, Arial, sans-serif;
  color: #FFF;
  height: 100vh;
}

h1 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: unset;
  color: unset;
}

.midia-section {
  background-color: #141414;
  padding: 1em 0 3em 1em;
}

.slider-title {
  font-size: 1.2rem;
  font-weight: 400;
}

.slider-title:not(:first-child) {
  margin-top: 1.5em;
}

.slider-item {
  width: 100%;
  object-fit: cover;
}