@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import 'mediaDetail.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: #141414;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  color: #FFF;
  -webkit-font-smoothing: antialiased;
}

/* Watch trailer modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 20;
  cursor: default;
}

.modal-content {
  height: 100%;
}

.modal-video {
  max-height: 80%;
  max-width: 80%;
  margin: auto;
  cursor: pointer;
}

.close-button {
  background: none;
  font-size: 32px;
  cursor: pointer;
  color: #fff;
}

a {
  text-decoration: unset;
  color: unset;
}

/* Hero */
.media-hero-container {
  display: flex;
  flex-direction: column;
  gap: .6em;
  height: 25rem;
  background-color: #000;
  padding-bottom: 1em;
}


.img-container {
  position: relative;
  display: flex;
  flex: 1 1 auto;
  height: 0;
}

.hero-poster {
  display: block;
  object-fit: cover;
  width: 100%;
}

.img-container::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  content: "";
  background-image: linear-gradient(0deg, #000 0, rgba(0, 0, 0, .1) 50%, rgba(0, 0, 0, .1));
}


.hero-info {
  padding-right: .8em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.hero-info,
.media-section,
footer {
  padding-left: 1.5rem;
}

.hero-info h1 {
  font-size: 1.75rem;
}

.hero-info h1,
.hero-reviews,
.slider-title {
  font-weight: 400;
}


.hero-rating {
  display: flex;
  gap: .1em;
  align-items: center;
  margin-bottom: .3em;
}

.hero-reviews,
.hero-media-info {
  font-size: .9rem;
  opacity: .5;
}

.hero-reviews {
  margin-left: .4em;
  align-self: center;
}

.hero-media-info {
  display: flex;
  gap: .4em;
}

.hero-button {
  display: none;
}

.hero-media-overview {
  display: none;
}

/* Media */
.media-section {
  padding-top: .5em;
}

.slider-title-wrapper {
  display: flex;
  margin-bottom: .5em;
  margin-top: 1.5em;
  align-items: baseline;
  gap: .5em;
}

.slider-title {
  font-size: 1.2rem;
}

.slider-title-wrapper span {
  color: #2196f3;
}

.add-to-favorites-button,
.add-to-favorite-search {
  cursor: pointer;
  z-index: 5;
  font-size: 1.2rem;
}

.add-to-favorite-search svg:hover,
.add-to-favorites-button svg:hover {
  color: red !important;
}

a>span {
  padding-top: 150%;
  width: 100%;
}

.slider-item {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  border: 3px solid #202124;
}

.slider-item:hover {
  -webkit-transform: scale(.9);
	transform: scale(.9);
}

.slider-item-info {
  display: none;
}

/* Footer */
footer {
  padding-bottom: 3.5rem;
  margin-top: 3em;
  display: flex;
  flex-direction: column;
  font-size: .87rem;
  color: #80868b;
  gap: 0.4em;
}

footer a {
  margin-top: .4em;
  text-decoration: underline;
}

.personal-links {
  display: flex;
  gap: .5em;
}

.personal-links a {
  border-bottom: 1px solid gray;
}

@media (min-width: 640px) {

  .media-hero-container {
    height: 30rem;
  }

  .hero-container-info-container {
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: baseline;
  }

  .hero-media-info {
    margin-bottom: .5em;
  }

  .slider-item-info {
    display: block;
    font-size: .875rem;
  }

  .add-to-favorites-button {
    position: absolute;
    bottom: 0;
    right: 0;
  }

  .add-to-favorite-search {
    position: relative;
    top: 95%;
    left: 90%;
  }

  .slider-item-title {
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin: .3em 0;
    width: calc(100% - 15px);
  }

  .slider-item-review {
    font-size: .75rem;
  }

  .slider-item-reviews-vote {
    opacity: .4;
  }

}

@media (min-width: 768px) {
  .media-hero-container {
    height: 37rem;
  }

  .hero-container-info-container {
    flex-direction: row;
  }

  .hero-info {
    padding-right: 3em;
    text-shadow: 1px 1px 0px #000;
  }

  .hero-info,
  .media-section {
    padding-left: 2em;
    text-align: justify;
  }

  .hero-media-overview {
    display: -webkit-box;
    font-size: .9rem;
    line-height: 1.5;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@media (min-width: 1024px) {
  .media-hero-container {
    position: relative;
    height: 0;
    padding-bottom: 40%;
  }

  .hero-info {
    top: 25%;
    position: absolute;
    width: 55%;
    padding-right: 0;
  }

  .hero-media-overview {
    font-size: 1.1rem;
    text-align: justify;
  }

  .img-container {
    top: 0;
    right: 0;
    width: 71.1%;
    height: 100%;
    display: block;
    position: absolute;
  }

  .hero-poster {
    height: 100%;
  }

  .img-container::after {
    background-image: linear-gradient(90deg, #000 0, transparent 50%, transparent);
  }

  .hero-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35%;
    color: white;
    gap: .5em;
    border-radius: 5px;
  }

}

@media (min-width: 1200px) {
  .section-container {
    padding-left: 6rem;
  }

  .hero-info {
    width: 45%;
  }

  .hero-info h1 {
    font-size: 2.5vw;
  }

  .slider-title {
    font-size: 1.5rem;
  }

  .slider-item-title {
    font-size: .975rem;
  }

  .slider-item-review {
    font-size: .9rem;
  }

  footer {
    padding-top: 4em;
    padding-left: 0;
    align-items: center;
  }
}