.infinite-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  padding: .7em;
  gap: .5em;
  grid-row-gap: 1em;
}

.category-title {
  margin-top: 1em;
  padding-left: .5em;
}

@media (min-width: 1024px) {
  .infinite-grid {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}

@media (min-width: 1200px) {
  .infinite-grid,
  .category-title {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}