.midia-hero-banner {
  display: grid;
  gap: 0.5em;
  padding-bottom: 1em;
}

.img-container {
  display: flex;
  max-height: 40vh;
  position: relative;
}

.img-container::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  content: "";
  background-image: linear-gradient(0deg,#000 0,rgba(0,0,0,.1) 50%,rgba(0,0,0,.1));
}

.hero-poster {
  display: block;
  object-fit: cover;
  width: 100%;
}

.hero-info {
  padding-left: 0.8em;
  padding-right: 0.8em;
  padding-bottom: 0.2em;
  display: flex;
  flex-direction: column;
  gap: 0.6em;
}

.hero-info h1 {
  font-size: 1.75rem;
  font-weight: 400;
  margin-bottom: 0.2em;
}

.hero-rating {
  display: flex;
  gap: 0.1em;
  align-items: center;
}

.hero-reviews {
  margin-left: 0.4em;
  align-self: center;
  opacity: 0.5;
  font-weight: 400;
  font-size: 0.9rem;
}

.hero-midia-info {
  font-size: 0.9rem;
  opacity: 0.5;
  display: flex;
  gap: 0.4em;
}




