.navbar-principal {
  background: #000;
  position: fixed;
  bottom: 0;
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding: 0.4em 0 0.2em 0;
  z-index: 10;
}

.navbar-principal NavLink {
  cursor: pointer;
}

.navbar-principal span {
  cursor: pointer;
}

.navbar-principal button{
  background-color: #000;
  color: #FFF;
  padding: 0;
  border: none;
}

.search-title {
  padding-top: 2em;
  margin-bottom: .2em;
}

.search-modal {
  color: white;
  position: fixed;
  display: block;
  flex-direction: column;
  top: 0;
  left: 0;
  width: 100%;
}

.search-modal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.search-close-button {
  color: #2196f3;
  padding-left: .8em;
  cursor: pointer;
}

.search-input {
  font-size: 1rem;
  text-align: center;
  padding: 1em;
  background-color: #202124;
  border: none;
  color: #f3f3f3ec;
}

.search-input:focus {
  border: none;
  outline: none;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading-spinner {
  width: 50px;
  height: 50px;
  border: 10px solid #f3f3f3; /* Light grey */
  border-top: 10px solid #383636; /* Blue */
  border-radius: 50%;
  animation: spinner 1.5s linear infinite;
}

.spinner-container {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 350px;
}

@media (min-width: 1200px) {
  .navbar-principal {
    border-right: 1px solid #202124;
    top: 0;
    width: 6rem;
    flex-direction: column;
    justify-content: unset;
    align-items: center;
    gap: 4em;
    padding-top: 2em;
  }

  .search-modal {
    left: 6em;
  }

  .search-close-button {
    padding-left: 2em;
  }
}

