
select {
  width: 100%;
  max-width: 400px;
  border: 2px solid rgba(0, 0, 0, 1);
  appearance: none;
  background-image: url("https://cdn-icons-png.flaticon.com/512/60/60995.png");
  background-repeat: no-repeat;
  background-position: right 0.7rem top 50%;
  background-size: 0.65rem auto;
}

.person-overview-container {
  padding: 4.5em 1em 1em 1em;
  background-color: #000;
  min-height: 490px ;
}

.person-overview-container > span {
  float: left;
  width: 40%;
  max-width: 250px;
  margin-right: 1em;
} 

.person-poster-img {
  width: 100%;
  margin-top: 1em;
  border: 3px solid #202124;
}

.person-overview-info {
  font-size: 0.95rem;
  margin-bottom: 1em;
}

.person-overview-info p {
  line-height: 1.7;
  margin: 1em 0;
}

.person-list {
  margin: 3em 0;
  gap: 0.5em;
}

.person-buttons {
  clear: both;
}

.person-credits-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 0.5em;
  padding: 1em;
}

.a {
  height: fit-content;
}

.person-credits-job {
  display: none;
  color: #80868b;
}

.a span {
  padding-top: 150%;
  width: 100%;
  height: 0;
}

.person-credits-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 3px solid #000;
}

.person-social-links {
  display: flex;
  align-items: center;
  vertical-align: middle;
  gap: 1.5em;
  margin-bottom: 1.5em;
}

.person-social-svg {
  fill: white;
  height: 1.3rem;
}

@media (min-width: 1024px) {
  .person-overview-container > span {
    float: none;
  }

  .person-poster-img {
    min-width: 300px;
    width: 100%;
  }

  .person-overview-container {
    display: flex;
    font-size: 1.3rem;
    gap: 3em;
  }

  .person-overview-info {
    width: 60%;
    font-size: 1.2rem;
  }

  .person-overview-container h1{
    top: 70px;
    position: absolute;
  }
}