@use 'resets';

.board-flex {
  margin: auto;
  display: flex;
  min-width: 300px;
  max-width: 300px;
  flex-wrap: wrap;
  gap: 0.4em;
  padding: 0.5em;
  background-color: #00dca4;
  justify-content: space-evenly;
}

.board-square {
  flex-basis: 30%;
  height: 100px;
  background-color: white;
  border-radius: 5px;
  display: flex;
}

.board-square-content {
  margin: auto;
}
